Level(
	tile_storage: TileStorage(
		tiles: [
			Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,   Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Key,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    GrassL, Grass,  Grass,  Grass,  GrassR, Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Air,    Wall,
			Wall,   Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Grass,  Wall,
		],
	),
	size: TilemapSize(
		size: Vec2(
			50.0,
			30.0,
		)
	),
	tilemap_entity: None,
	start_tile: UVec2(
		3,
		27,
	),
)