Level(
	tile_storage: TileStorage(
		tiles: [
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,

			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,

			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,

			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,

			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,

			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,

			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,

			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
			Air,
			Ground,
		],
	),
	size: TilemapSize(
		size: Vec2(
			8.0,
			8.0,
		)
	),
	start_tile: UVec2(
		0,
		0,
	),
)